./course_videos
./media

media/
media/**

migrations/
./migrations
/migrations/**

# ignore pycache
__pycache__/
\__pycache__
./.pyc
./.pycache
./__pycache__
./**/__pycache__

# ignore node_modules
./**/
.venv